@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background-color: #fafafa;
}
/* HEADER START */

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 5px;
}
.logo {
  display: flex;
  align-items: center;
}
.logo-circle{
    display: flex;
    flex-direction: column;
    margin-right:5px ;
}
.header .logo .circle {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.header .logo .logo-circle .circle-1 {
  background-color: #887a9c;
  margin-left: 10px;
}
.header .logo .logo-circle .circle-2 {
  background-color: #4F93A6;
}
/* HEADER FİNİSH */
/* ABOUT START */
.about{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 60px 0px;
    overflow: hidden;
}
.about .about-picture{
    display: flex;
    align-items: center;
}
.about .about-picture img{
    width: 100%;
    height: 100%;
    max-width: 110px;
    max-height: 110px;
    border-radius: 50%;
    padding: 5px;
    transition: .3s;
}

.about .about-picture img:hover{
    transform: translateY(-5px);
}
.col-2, .col-5
{
margin-bottom: 90px;
}
.about .about-info{
margin: 0 55px;
}
.about .about-info h1,p{
    text-align: center;
}
.about .about-info h1{
    font-size: 45px;
    font-weight: 900;
    line-height: 1.2;
    letter-spacing: 0.7px;
}
.about .about-info p{
    font-size: 14px;
    letter-spacing: 0.9px;
    font-weight: 600px;
    color: rgb(160,154,154);
    margin: 20px 0px;
}
.about .about-info .btn{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.about .about-info a{
    text-decoration: none;
    padding: 13px 35px;
    display: inline-block;
    color: white;
    
    font-size: 12px;
    border-radius: 35px;
    font-weight: bold;

}
.about .about-info span{
    background-color: #4F93A6;
    color: #a0d1df;
}
.about .about-info .btn-1{
    background-color:#4F93A6;
    margin-right: 10px;
    margin-bottom: 5px;
}
.about .about-info .btn-2{
    background-color:#887a9c;
}
/* ABOUT FİNİSH */
/* LINe Start */
.line {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 60px 0;

}
.line .limit {
    border: 1px solid#ddd;
    height: 55px;
}
.line .line-circle{
    width: 40px;
    line-height: 40px;
    border: 1px solid #ddd;
    border-radius: 50%;
    color: #777;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
   
    
}

/* Lıne Finish */
/* Container Start */

.container{
    max-width: 1300px;
    margin: 0 50px;
}
.container .content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.container .content img{
    width: 100%;
     max-width: 200px;
    margin: 10px 5px;
    border-radius: 13px;
}
.container .information{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.container .information h4{
    margin-top: 50px;
    margin-bottom: 10px;
    font-size: 13px;
    color: #599AAC;
    letter-spacing: 1.8px;

}
.container .information h2{
    font-size: 30px;
    line-height: 1.2;
    font-weight: bold;
}
.container .information p{
    font-size: 14px;
    letter-spacing: 0.9px;
    font-weight: 500;
    margin: 20px 0;
    color: rgb(160,154,154);

}
/* Container Start */
/* Footer Start */

.footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 300px;
}
.footer-picture{
    width: 100%;
    height: 300px;
    background-image: url(/img/footer2.jpg);
    background-position:bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
}
.footer .footer-info{
    width: 100%;
    top: 0;
    left: 0;
    height: 300px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #599aacb3;
    /* text-align: center; */
    
}
.footer .footer-info h4,p{
    background: transparent;
    color: white;
}
.footer .footer-info h4{
    font-size: 24px;
    letter-spacing: 1.2px;
}
.footer .footer-info p{
    font-size: 14px;

}
.footer-info a{
    padding: 15px 35px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    background-color: #887a9c;
    border-radius: 35px;
    font-size: 12px;
    
}
.footer-info span{
    background-color: #887a9c;
    color: #a0d1df;
    font-size: 12px;
}
/* Footer Finish  */

@media screen and (max-width: 870px){
    .footer-info{
        flex-direction: column;
    }
    .about .about-info h1{
        font-size: 35px;
    }
    .about .about-info p{
        font-size: 12px;
    }
    .about{
        flex-direction: column; 
    }
 
    .about .about-info a{
        margin: 5px 0;
    }
    .container .content{
        display: grid;
        grid-template-columns: repeat(2,150px) ;
        grid-gap:25px;
    }
}

@media screen and (max-width: 600px){
    .container .information h2{
        font-size: 25px;
    }
    .container .information p{
        font-size: 12px;
    }
    .container .content{
        display: grid;
        grid-template-columns: repeat(1,150px) ;
        grid-gap:25px;
    }
}